.m-offcanavas-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }
  .m-offcanavas-menu ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .m-offcanavas-menu ul li a {
      display: block;
      line-height: 1.2em;
      padding: 1em; }
  .m-offcanavas-menu .m-author {
    background-color: #666;
    color: #ccc;
    margin: 20px 0;
    line-height: 1em;
    padding: 1.2em;
    font-size: 20px; }

body {
  background-color: #efefef; }

.panel.panel-login {
  position: absolute;
  margin: auto;
  width: 600px;
  height: 300px;
  left: 0;
  right: 0;
  bottom: 60%;
  top: 40%;
  text-align: center; }

.navbar.navbar-main .navbar-form, .navbar.navbar-main .form-group {
  width: 90%; }
  .navbar.navbar-main .navbar-form input[type="text"], .navbar.navbar-main .form-group input[type="text"] {
    width: 100%;
    display: block; }

.table.content-management_list td {
  vertical-align: middle; }
.table.content-management_list .thumbnail {
  height: 60px;
  margin: 0;
  border: none;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  padding: 0;
  border-radius: 0; }

/* search tags */
.search-tags {
  position: relative;
  padding: 0;
  overflow: hidden;
  margin-top: 8px;
  background-color: #fff; }

.bootstrap-tagsinput {
  width: auto;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.search-button {
  position: absolute;
  display: block;
  top: 0;
  height: 20px;
  bottom: 0;
  margin: auto;
  right: 0;
  width: auto;
  min-width: 30px;
  padding-right: 10px;
  text-align: center; }

/* end search tags */
/*pillbox custom*/
.pillbox #addPreset {
  margin: 0;
  display: inline-block;
  float: right;
  border-radius: 3px;
  outline: none;
  background-color: #003bb3;
  color: #fff;
  border: none;
  margin: 2px;
  font-size: 13px; }

.offcanavas-menu {
  position: fixed;
  overflow: hidden;
  width: 300px;
  background-color: darkgray;
  z-index: 1000; }
  .offcanavas-menu.offcanavas-menu-right {
    right: 0;
    top: 0;
    bottom: 0;
    left: auto; }
  .offcanavas-menu.offcanavas-menu-left {
    left: 0;
    top: 0;
    bottom: 0;
    right: auto; }
  .offcanavas-menu.offcanavas-menu-top {
    height: 300px;
    width: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto; }
  .offcanavas-menu.offcanavas-menu-bottom {
    height: 300px;
    width: auto;
    left: 0;
    top: auto;
    bottom: 0;
    right: 0; }

.modal.mm-full {
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-family: georgia, serif;
  color: #808080; }
  .modal.mm-full .modal-header {
    border: none; }
  .modal.mm-full .modal-dialog, .modal.mm-full .modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0; }
  .modal.mm-full .modal-body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0; }
  .modal.mm-full .modal-body-content {
    max-width: 700px;
    height: 50%;
    margin: 0 auto; }
  .modal.mm-full .modal-footer {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 0; }
  .modal.mm-full .modal--copy {
    font-size: 20px;
    color: #333; }

.ptgo {
  padding: 10px;
  margin: 5px;
  cursor: pointer; }
  .ptgo:hover {
    color: red; }

.random-color-1 {
  color: #2f8b36; }

.random-color-2 {
  color: #9c0000; }
/*# sourceMappingURL=main.css.map */