.pt-perspective {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.pt-layer .page-overlay {
  position: absolute;
  bottom: 0;
  height: 50%; }
  .pt-layer .page-overlay.scrollable {
    display: block;
    visibility: visible;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden; }

.pt-layer-open {
  z-index: 2000; }

.scrollable {
  overflow: auto; }

*[data-offcanavas-pane] {
  pointer-events: none;
  background-color: #808080;
  visibility: hidden;
  position: fixed;
  height: auto;
  overflow: hidden;
  z-index: 5000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.oc-layer-left {
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

.oc-layer-right {
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px); }

.oc-layer-top {
  height: 300px;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px); }

.oc-layer-bottom {
  height: 300px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateY(300px);
  -ms-transform: translateY(300px);
  transform: translateY(300px); }

.oc-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background-color: #fff; }

body.oc-visible .oc-overlay {
  z-index: auto;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
body.oc-visible.oc-left .oc-current, body.oc-visible.oc-right .oc-current, body.oc-visible.oc-top .oc-current, body.oc-visible.oc-bottom .oc-current {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
body.oc-visible.oc-left .pt-perspective, body.oc-visible.oc-right .pt-perspective, body.oc-visible.oc-top .pt-perspective, body.oc-visible.oc-bottom .pt-perspective {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
body.oc-visible.oc-left .pt-perspective {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px); }
body.oc-visible.oc-right .pt-perspective {
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }
body.oc-visible.oc-top .pt-perspective {
  -webkit-transform: translateY(300px);
  -ms-transform: translateY(300px);
  transform: translateY(300px); }
body.oc-visible.oc-bottom .pt-perspective {
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px); }

.m-offcanavas-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }
  .m-offcanavas-menu ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .m-offcanavas-menu ul li a, .m-offcanavas-menu ul span {
      display: block;
      line-height: 1.2em;
      padding: 1em;
      color: #fff;
      cursor: pointer; }
  .m-offcanavas-menu .m-author {
    background-color: #666;
    color: #ccc;
    margin: 20px 0;
    line-height: 1em;
    padding: 1.2em;
    font-size: 20px; }

/* not finished left, right, top, bottom offcanvas mods
.offcanavas-menu {
    position: fixed;
    overflow: hidden;
    width: 300px;
    background-color: darkgray;
    z-index: 1000;

    &.offcanavas-menu-right {
        right: 0;
        top: 0;
        bottom: 0;

        left: auto;
    }
    &.offcanavas-menu-left {
        left: 0;
        top: 0;
        bottom: 0;

        right: auto;
    }
    &.offcanavas-menu-top {
        height: 300px;
        width: auto;

        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
    }
    &.offcanavas-menu-bottom {
        height: 300px;
        width: auto;

        left: 0;
        top: auto;
        bottom: 0;
        right: 0;
    }

}
*/
.m-nav-brand {
  display: inline-block;
  z-index: 2010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #9c0000;
  color: #fff; }
  .m-nav-brand:hover {
    background-color: #000; }

.m-content .navbar.navbar-fixed-top {
  z-index: 2001;
  background-color: #eee; }

.bootstrap-tagsinput {
  width: auto;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .bootstrap-tagsinput .tag {
    border-radius: 30px;
    text-transform: uppercase; }

/* search tags */
.search-tags {
  font-family: georgia, serif;
  font-size: 1.1em;
  -webkit-fontsmoothing: antialiased;
  z-index: 1000;
  position: relative;
  padding: 0;
  padding-bottom: 48px;
  margin-top: 8px;
  font-size: 100%; }
  .search-tags .search-field {
    position: absolute;
    width: 100%;
    z-index: auto;
    height: 48px;
    font-weight: normal;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 2px solid #ccc; }
    .search-tags .search-field .bootstrap-tagsinput .tag {
      padding: 0 12px;
      height: 36px;
      line-height: 36px;
      font-size: 15px;
      border-radius: 36px; }
  .search-tags .label {
    font-family: 'helvetica neue', Helvetica, Arial;
    font-size: 1.1em;
    -webkit-fontsmoothing: antialiased;
    font-size: 100%;
    font-weight: normal;
    display: inline-block;
    line-height: 2.5em;
    border-radius: 2px;
    padding: 0 8px; }
  .search-tags .search-tags--options {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: auto;
    left: -10px;
    right: -10px;
    top: -2px;
    background-color: #fff;
    padding: 30px;
    padding-top: 60px; }
    .search-tags .search-tags--options h4 {
      color: #888; }
    .search-tags .search-tags--options .fa {
      width: 20px;
      text-align: center;
      font-size: 20px; }

.search-button {
  position: absolute;
  display: block;
  top: 0;
  height: 40px;
  bottom: 0;
  margin: auto;
  right: 0;
  width: auto;
  min-width: 30px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer; }

.m-pillbox {
  padding-top: 16px; }
  .m-pillbox .btn {
    border-radius: 20px;
    text-transform: uppercase; }

.panel.panel-login {
  position: absolute;
  margin: auto;
  width: 600px;
  height: 300px;
  left: 0;
  right: 0;
  bottom: 60%;
  top: 40%;
  text-align: center; }

.m-content.m-content-manage.has-navbar {
  padding-top: 130px; }
.m-content .navbar, .m-content .navbar-collapse {
  background-color: transparent;
  border: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: bold; }
  .m-content .navbar .navbar-nav, .m-content .navbar .navbar-text, .m-content .navbar .navbar-nav > li > a, .m-content .navbar-collapse .navbar-nav, .m-content .navbar-collapse .navbar-text, .m-content .navbar-collapse .navbar-nav > li > a {
    color: #888; }
  .m-content .navbar .navbar-nav > .active > a, .m-content .navbar-collapse .navbar-nav > .active > a {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #a5e9fd; }
.m-content .navbar-collapse {
  border-bottom: 3px solid #ccc; }
.m-content .container {
  background-color: #fff; }
.m-content .m-content-add-grid {
  width: 70%;
  margin: 0 auto; }
.m-content .m-content-add-cell {
  width: 20%;
  float: left;
  margin-bottom: 20px;
  height: 160px; }
  .m-content .m-content-add-cell h1 {
    font-size: 30px; }

.m-content.m-content-manage .container {
  background-color: transparent; }

.m-content-edit .navbar, .m-content-edit .navbar-collapse {
  background-color: transparent;
  border: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: bold; }
  .m-content-edit .navbar .navbar-nav, .m-content-edit .navbar .navbar-text, .m-content-edit .navbar .navbar-nav > li > a, .m-content-edit .navbar-collapse .navbar-nav, .m-content-edit .navbar-collapse .navbar-text, .m-content-edit .navbar-collapse .navbar-nav > li > a {
    color: #888; }
  .m-content-edit .navbar .navbar-nav > .active > a, .m-content-edit .navbar-collapse .navbar-nav > .active > a {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #a5e9fd; }
.m-content-edit .has-navbar {
  padding-top: 80px; }
.m-content-edit .container {
  background-color: #fff; }
.m-content-edit .m-content-edit--main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px; }
  .m-content-edit .m-content-edit--main .row {
    font-family: georgia, serif;
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    font-size: 18px; }
    .m-content-edit .m-content-edit--main .row.dashed {
      border-bottom-style: dashed; }
    .m-content-edit .m-content-edit--main .row input, .m-content-edit .m-content-edit--main .row textarea {
      color: #666;
      width: 100%;
      height: auto;
      border: 0;
      outline: none; }
      .m-content-edit .m-content-edit--main .row input:focus, .m-content-edit .m-content-edit--main .row textarea:focus {
        outline: none;
        color: #000; }
    .m-content-edit .m-content-edit--main .row .title {
      font-size: 48px; }
    .m-content-edit .m-content-edit--main .row .abstract {
      font-size: 28px;
      font-style: italic; }
    .m-content-edit .m-content-edit--main .row .content {
      font-size: 18px; }
  .m-content-edit .m-content-edit--main .m-label {
    text-transform: uppercase;
    color: #ccc;
    font-weight: bold;
    font-family: 'helvetica neue', Helvetica, Arial;
    font-size: 13px; }

.m-image-picker {
  width: 100%;
  min-height: 320px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  max-height: 800px;
  overflow: scroll; }
  .m-image-picker img {
    margin: 20px;
    float: left;
    cursor: pointer; }

.modal-fullscreen {
  background-color: white;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 30px;
  font-family: georgia, serif;
  color: #808080; }
  .modal-fullscreen form {
    margin: 0;
    padding: 0; }
  .modal-fullscreen .modal-body {
    display: table-cell;
    vertical-align: middle;
    padding: 0; }
  .modal-fullscreen .btn {
    font-family: 'helvetica neue', Helvetica, Arial;
    font-weight: bold;
    padding: 16px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #888;
    color: #888; }
    .modal-fullscreen .btn.btn-action {
      border-color: red;
      color: red; }
  .modal-fullscreen .modal-footer {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 20px;
    bottom: 0; }
    .modal-fullscreen .modal-footer .help {
      font-size: 12px;
      color: #888;
      font-family: 'helvetica neue', Helvetica, Arial;
      padding: 8px; }
  .modal-fullscreen .modal--hed {
    display: inline-block;
    margin-bottom: 40px; }
  .modal-fullscreen .modal-body-content {
    width: 50%;
    margin: 0 auto; }
    .modal-fullscreen .modal-body-content.center {
      width: auto;
      text-align: center; }
  .modal-fullscreen .modal--confirm {
    margin-top: 20px; }
  .modal-fullscreen .modal--copy {
    margin-top: 20px;
    font-size: 20px;
    color: #333; }

.modal-media-library {
  background-color: white;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 30px;
  font-family: georgia, serif;
  color: #808080;
  overflow: hidden; }
  .modal-media-library form {
    margin: 0;
    padding: 0; }
  .modal-media-library .modal-body {
    display: table-cell;
    vertical-align: middle;
    padding: 0; }
  .modal-media-library .btn {
    font-family: 'helvetica neue', Helvetica, Arial;
    font-weight: bold;
    padding: 16px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #888;
    color: #888; }
    .modal-media-library .btn.btn-action {
      border-color: red;
      color: red; }
  .modal-media-library .modal-footer {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 20px;
    bottom: 0; }
    .modal-media-library .modal-footer .help {
      font-size: 12px;
      color: #888;
      font-family: 'helvetica neue', Helvetica, Arial;
      padding: 8px; }
  .modal-media-library .modal--hed {
    display: inline-block;
    margin-bottom: 40px; }
  .modal-media-library .modal-body-content {
    width: 50%;
    margin: 0 auto; }
    .modal-media-library .modal-body-content.center {
      width: auto;
      text-align: center; }
  .modal-media-library .modal--confirm {
    margin-top: 20px; }
  .modal-media-library .modal--copy {
    margin-top: 20px;
    font-size: 20px;
    color: #333; }
  .modal-media-library .modal-body-content {
    width: auto; }
  .modal-media-library .modal-footer {
    background-color: #fff; }

.m-records {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .m-records .style-switch {
    position: absolute; }
  .m-records.list-view .record-header, .m-records.list-view .record {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1); }
    .m-records.list-view .record-header .record-base, .m-records.list-view .record .record-base {
      display: table-row;
      width: 100%; }
    .m-records.list-view .record-header .record-meta, .m-records.list-view .record .record-meta {
      border-top: 3px dashed #eee;
      padding: 20px;
      color: #999; }
    .m-records.list-view .record-header.record-header .cell, .m-records.list-view .record.record-header .cell {
      font-weight: bold;
      width: auto;
      text-align: center;
      background-color: transparent; }
      .m-records.list-view .record-header.record-header .cell.cell-title, .m-records.list-view .record-header.record-header .cell.cell-author, .m-records.list-view .record-header.record-header .cell.cell-date, .m-records.list-view .record.record-header .cell.cell-title, .m-records.list-view .record.record-header .cell.cell-author, .m-records.list-view .record.record-header .cell.cell-date {
        cursor: pointer; }
      .m-records.list-view .record-header.record-header .cell.cell-title, .m-records.list-view .record.record-header .cell.cell-title {
        width: 420px; }
      .m-records.list-view .record-header.record-header .cell.cell-switch, .m-records.list-view .record.record-header .cell.cell-switch {
        width: 80px;
        padding: 0; }
        .m-records.list-view .record-header.record-header .cell.cell-switch button, .m-records.list-view .record.record-header .cell.cell-switch button {
          margin: 0;
          padding: 2px 10px; }
    .m-records.list-view .record-header .cell, .m-records.list-view .record .cell {
      display: table-cell;
      padding: 8px 8px; }
      .m-records.list-view .record-header .cell.cell-check, .m-records.list-view .record-header .cell.cell-info, .m-records.list-view .record .cell.cell-check, .m-records.list-view .record .cell.cell-info {
        width: 25px; }
      .m-records.list-view .record-header .cell.cell-info, .m-records.list-view .record .cell.cell-info {
        color: #666;
        width: 25px;
        cursor: pointer; }
      .m-records.list-view .record-header .cell.cell-title, .m-records.list-view .record .cell.cell-title {
        width: 500px; }
      .m-records.list-view .record-header .cell.cell-author, .m-records.list-view .record .cell.cell-author {
        width: 180px; }
      .m-records.list-view .record-header .cell.cell-date, .m-records.list-view .record .cell.cell-date {
        width: 180px; }
      .m-records.list-view .record-header .cell.cell-actions, .m-records.list-view .record .cell.cell-actions {
        width: 100px; }
        .m-records.list-view .record-header .cell.cell-actions span, .m-records.list-view .record .cell.cell-actions span {
          display: inline-block;
          padding: 6px; }
      .m-records.list-view .record-header .cell label, .m-records.list-view .record .cell label {
        display: block;
        text-transform: uppercase;
        font-size: 12px; }
      .m-records.list-view .record-header .cell .avatar, .m-records.list-view .record .cell .avatar {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: #eee; }
    .m-records.list-view .record-header.mm-collapsed .cell-info, .m-records.list-view .record.mm-collapsed .cell-info {
      color: #4da76f; }
    .m-records.list-view .record-header.mm-collapsed .record-meta, .m-records.list-view .record.mm-collapsed .record-meta {
      display: none; }
  .m-records.list-view .record-header {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .m-records.tile-view .record {
    background-color: #fff;
    margin-bottom: 30px;
    width: 262px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin-right: 30px; }
    .m-records.tile-view .record:nth-of-type(4n) {
      margin-right: 0; }
    .m-records.tile-view .record .record-base {
      display: block; }
    .m-records.tile-view .record .record-meta {
      display: none; }
  .m-records.tile-view .cell {
    display: block; }
    .m-records.tile-view .cell.cell-check, .m-records.tile-view .cell.cell-info {
      display: inline;
      padding: 6px; }
    .m-records.tile-view .cell.cell-info {
      width: 25px;
      cursor: pointer;
      float: right; }
    .m-records.tile-view .cell.cell-title {
      font-size: 18px; }
      .m-records.tile-view .cell.cell-title a {
        display: block;
        width: 100%;
        padding: 10px; }
    .m-records.tile-view .cell.cell-author {
      font-size: 12px; }
    .m-records.tile-view .cell.cell-date {
      font-size: 12px;
      display: inline; }
    .m-records.tile-view .cell.cell-actions {
      text-align: center; }
      .m-records.tile-view .cell.cell-actions span {
        display: inline-block;
        padding: 6px; }
    .m-records.tile-view .cell label {
      display: block;
      text-transform: uppercase;
      font-size: 12px; }
    .m-records.tile-view .cell .avatar {
      width: 100%;
      height: 200px;
      background-color: #eee; }
  .m-records.tile-view .record-header {
    padding-bottom: 50px; }
    .m-records.tile-view .record-header .titles {
      display: none; }

.color-scheduled {
  color: dodgerblue; }

.color-published {
  color: darkgreen; }

.color-unpublished {
  color: darkred; }

.random-color-1 {
  color: #2f8b36; }

.random-color-2 {
  color: #9c0000; }

.dbg {
  min-height: 50px;
  background-color: orange; }
/*# sourceMappingURL=main.css.map */