.m-offcanavas-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }
  .m-offcanavas-menu ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .m-offcanavas-menu ul li a {
      display: block;
      line-height: 1.2em;
      padding: 1em; }
  .m-offcanavas-menu .m-author {
    background-color: #666;
    color: #ccc;
    margin: 20px 0;
    line-height: 1em;
    padding: 1.2em;
    font-size: 20px; }

.pt-perspective {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.pt-page p {
  margin-bottom: 40px; }
.pt-page .page-overlay {
  position: absolute;
  bottom: 0;
  height: 50%;
  background-color: #808080;
  border: 1px solid #000; }
  .pt-page .page-overlay.scrollable {
    display: block;
    visibility: visible;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid pink; }
.pt-page button.fixed {
  position: fixed;
  bottom: 50%; }

.pt-page-0 {
  overflow: auto; }

.oc-page {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  height: auto;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .oc-page .oc-menu {
    height: auto;
    width: 300px;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: yellowgreen; }

.oc-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background-color: #fff; }

.oc-visible .oc-page {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
.oc-visible .oc-overlay {
  z-index: auto;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
.oc-visible .pt-perspective {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.color-scheduled {
  color: dodgerblue; }

.color-published {
  color: darkgreen; }

.color-unpublished {
  color: darkred; }

body {
  background-color: #efefef; }

.panel.panel-login {
  position: absolute;
  margin: auto;
  width: 600px;
  height: 300px;
  left: 0;
  right: 0;
  bottom: 60%;
  top: 40%;
  text-align: center; }

.navbar.navbar-main .navbar-form, .navbar.navbar-main .form-group {
  width: 90%; }
  .navbar.navbar-main .navbar-form input[type="text"], .navbar.navbar-main .form-group input[type="text"] {
    width: 100%;
    display: block; }

.table.content-management_list td {
  vertical-align: middle; }
.table.content-management_list .thumbnail {
  height: 60px;
  margin: 0;
  border: none;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  padding: 0;
  border-radius: 0; }

/* search tags */
.search-tags {
  position: relative;
  padding: 0;
  margin-top: 8px;
  margin-left: 80px;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 52px;
  font-size: 120%; }
  .search-tags .search-field {
    height: 100%; }
  .search-tags .label {
    font-size: 100%;
    font-weight: normal;
    display: inline-block;
    line-height: 2.5em;
    border-radius: 2px;
    padding: 0 8px; }

.search-tags--options {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  width: auto;
  left: -1px;
  right: -1px;
  border: 1px solid #ccc;
  height: 300px;
  z-index: 1000;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1); }
  .search-tags--options h4 {
    color: #888; }
  .search-tags--options .fa {
    width: 20px;
    text-align: center;
    font-size: 20px; }

.bootstrap-tagsinput {
  width: auto;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.search-button {
  position: absolute;
  display: block;
  top: 0;
  height: 20px;
  bottom: 0;
  margin: auto;
  right: 0;
  width: auto;
  min-width: 30px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer; }

/* end search tags */
/*pillbox custom*/
.pillbox #addPreset {
  margin: 0;
  display: inline-block;
  float: right;
  border-radius: 3px;
  outline: none;
  background-color: #003bb3;
  color: #fff;
  border: none;
  margin: 2px;
  font-size: 13px; }

.offcanavas-menu {
  position: fixed;
  overflow: hidden;
  width: 300px;
  background-color: darkgray;
  z-index: 1000; }
  .offcanavas-menu.offcanavas-menu-right {
    right: 0;
    top: 0;
    bottom: 0;
    left: auto; }
  .offcanavas-menu.offcanavas-menu-left {
    left: 0;
    top: 0;
    bottom: 0;
    right: auto; }
  .offcanavas-menu.offcanavas-menu-top {
    height: 300px;
    width: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto; }
  .offcanavas-menu.offcanavas-menu-bottom {
    height: 300px;
    width: auto;
    left: 0;
    top: auto;
    bottom: 0;
    right: 0; }

.modal.mm-full {
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-family: georgia, serif;
  color: #808080; }
  .modal.mm-full .modal-header {
    border: none; }
  .modal.mm-full .modal-dialog, .modal.mm-full .modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0; }
  .modal.mm-full .modal-body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0; }
  .modal.mm-full .modal-body-content {
    max-width: 700px;
    height: 50%;
    margin: 0 auto; }
  .modal.mm-full .modal-footer {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 0; }
  .modal.mm-full .modal--copy {
    font-size: 20px;
    color: #333; }

.ptgo {
  padding: 10px;
  margin: 5px;
  cursor: pointer; }
  .ptgo:hover {
    color: red; }

.random-color-1 {
  color: #2f8b36; }

.random-color-2 {
  color: #9c0000; }
/*# sourceMappingURL=main.css.map */