.m-nav {

}

.m-nav-brand {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: $zindex-nav-brand;

    box-sizing: border-box;
    padding: 10px 20px;

    cursor: pointer;

    background-color: #9c0000;
    color: #fff;

    &:hover {
        background-color: #000;
    }

}


// this need to be clean and reorder
//
.m-content .navbar.navbar-fixed-top {
    z-index: 500;
    background-color: #eee; // page bg color should be here
}

.disabled.has-navbar {
    padding-top: 50px;
}

.pillbox.navbar {
    padding: 20px;
    padding-left: 80px;
    padding-bottom: 0px;
}
