.m-offcanavas-menu {

    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;



    ul {
        list-style-image: none;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a, span {
            display: block;
            line-height: 1.2em;
            padding: 1em;
            color: #fff;
            cursor: pointer;
        }
    }

    .m-author {
        background-color: #666;
        color: #ccc;
        margin: 20px 0;
        line-height: 1em;
        padding: 1.2em;
        font-size: 20px;
    }

}


/* not finished left, right, top, bottom offcanvas mods
.offcanavas-menu {
    position: fixed;
    overflow: hidden;
    width: 300px;
    background-color: darkgray;
    z-index: 1000;

    &.offcanavas-menu-right {
        right: 0;
        top: 0;
        bottom: 0;

        left: auto;
    }
    &.offcanavas-menu-left {
        left: 0;
        top: 0;
        bottom: 0;

        right: auto;
    }
    &.offcanavas-menu-top {
        height: 300px;
        width: auto;

        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
    }
    &.offcanavas-menu-bottom {
        height: 300px;
        width: auto;

        left: 0;
        top: auto;
        bottom: 0;
        right: 0;
    }

}
*/
