
.bootstrap-tagsinput {
    width: auto;
    margin: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;

    .tag {
        border-radius: 30px;
        text-transform: uppercase;
    }

}

/* search tags */

.search-tags {

    @include m-font-georgia();

    z-index: 1000;

    position: relative;
    padding: 0;
    padding-bottom: 48px;
    margin-top: 8px;
   // margin-left: 80px;
    //background-color: #fff;

    font-size: 100%;

    .search-field {

        position: absolute;
        width: 100%;
        z-index: auto;

        height: 48px;
        font-weight: normal;
        line-height: 40px;
        font-size: 18px;
        border-bottom: 2px solid #ccc;

        .bootstrap-tagsinput {
            .tag {
                padding: 0 12px;
                height: 36px;
                line-height: 36px;
                font-size: 15px;
                border-radius: 36px;
            }
        }

    }

    .label {
        @include m-font-helvetica();
        font-size: 100%;
        font-weight: normal;
        display: inline-block;
        line-height: 2.5em;
        border-radius: 2px;
        padding: 0 8px;
    }

    .search-tags--options {
        box-sizing: border-box;

        position: absolute;
        width: auto;
        left: -10px;
        right: -10px;
        top: -2px;
        background-color: #fff;

        padding: 30px;
        padding-top: 60px;
        h4 {
            color: #888;
        }

        .fa { width: 20px; text-align: center; font-size: 20px;}
    }

}


.search-button {
    position: absolute;
    display: block;
    top: 0;
    height: 40px;
    bottom: 0;
    margin: auto;
    right: 0;
    width: auto;
    min-width: 30px;
    padding-right: 10px;
    text-align: center;

    cursor: pointer;
}


