.m-content-edit {

    .navbar, .navbar-collapse {
        background-color: transparent;
        border: 0;
        background-image: none;
        box-shadow: none;
        font-weight: bold;

        .navbar-nav,
        .navbar-text,
        .navbar-nav>li>a {
            color: #888;
        }

        .navbar-nav>.active>a {
            background-image: none;
            box-shadow: none;
            background-color: #a5e9fd;
        }
    }

    .has-navbar {
        padding-top: 80px;
        //padding-bottom: 80px;
    }

    //.navbar-collapse { border-bottom: 3px solid #ccc;}

    .container {
        background-color: #fff;
    }

    .m-content-edit--main {

        box-sizing: border-box;
        padding: 0 40px;

        .row {
            font-family: georgia, serif;
            border-bottom: 2px solid #eee;
            padding: 20px 0;
            font-size: 18px;

            &.dashed {
                border-bottom-style: dashed ;
            }

            input, textarea {

                color: #666;

                width:100%;
                height: auto;

                border: 0;
                outline: none;

                &:focus {
                    outline: none;
                    color: #000;
                }
            }

            .title {
                font-size: 48px;
            }
            .abstract {
                font-size: 28px;
                font-style: italic;
            }
            .content {
                font-size: 18px;
            }

        }
        .m-label {
            text-transform: uppercase;
            color: #ccc;
            font-weight: bold;
            font-family: 'helvetica neue', Helvetica, Arial;
            font-size: 13px;
            //padding-top: 10px;
        }
    }

}
