
// handle page transitions
.pt-perspective {
    @include transition(all 0.2s); // offcanavas
}

// base setting for layer and page types
.pt-layer {

    .page-overlay {
        position: absolute;
        bottom: 0;
        height: 50%;

        &.scrollable {
            display: block;
            visibility: visible;
            overflow: auto;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    // todo: add all kind of content type here

    // modal
    // overlay
    // scrollable

}


// some helpers
.pt-layer-open {
    z-index: $zindex-opened-layer;
}

.scrollable {
    overflow: auto;
}



// offcanavas layers and overlay

// offcanavas layer
@mixin oc-layer() {
    pointer-events:none;
    background-color: #808080;
    visibility: hidden;

    position: fixed;
    height: auto;
    overflow: hidden;

    z-index: $zindex-offcanavas;

    @include transition(all 0.2s);
}

*[data-offcanavas-pane] {
    @include oc-layer();
}

.oc-layer-left {

    width: 300px;
    top: 0;
    bottom: 0;
    left: 0;

    transform: translateX(-300px);
}

.oc-layer-right {

    width: 300px;
    top: 0;
    bottom: 0;
    right: 0;

    transform: translateX(300px);
}

.oc-layer-top {

    height: 300px;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;

    transform: translateY(-300px);
}

.oc-layer-bottom {

    height: 300px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

    transform: translateY(300px);
}




// offcanavas overlay
.oc-overlay {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    background-color: #fff;
}

// handling ofcanavas opening thru the body
body.oc-visible {

    .oc-overlay {
        z-index: auto;
        opacity: .7;
        @include transition(opacity .3s);
    }

    &.oc-left,
    &.oc-right,
    &.oc-top,
    &.oc-bottom
    {
        .oc-current {
            visibility: visible;
            pointer-events:auto;
            transform: translateX(0px);
            transform: translateY(0px);
            @include transition(all 0.3s);
        }
        .pt-perspective {
            @include transition(all 0.3s);
        }
    }

    &.oc-left {
        .pt-perspective {
            transform: translateX(300px);
        }
    }

    &.oc-right {
        .pt-perspective {
            transform: translateX(-300px);
        }

    }

    &.oc-top {
        .pt-perspective {
            transform: translateY(300px);
        }

    }

    &.oc-bottom {
        .pt-perspective {
            transform: translateY(-300px);
        }
    }

}
