@import "../bower_components/bourbon/dist/bourbon";

// z-index definitions
$zindex-base: 0;
$zindex-navbar: 500;
$zindex-nav-brand: $zindex-navbar + 1;

$zindex-opened-layer: 2000;
$zindex-offcanavas: 5000;

// colors

.container {
    background-color: pink;
}

@mixin m-font-georgia(){
    font-family: georgia, serif;
    font-size: 1.1em;
    -webkit-fontsmoothing: antialiased;
}
@mixin m-font-helvetica(){
    font-family: 'helvetica neue', Helvetica, Arial;
    font-size: 1.1em;
    -webkit-fontsmoothing: antialiased;
}



@import "module-layers"; // layer base settings
@import "module-offcanavas-menu"; // offcanavas menu styles

@import "module-nav";
@import "module-search-tags";
@import "module-pillbox";

@import "module-panels";

@import "module-content";
@import "module-content-edit";
@import "module-image-picker";

@import "module-modal";
@import "module-records";


// dev and temp overrides


.color-scheduled {
    color: dodgerblue;
}
.color-published {
    color: darkgreen;
}
.color-unpublished {
    color: darkred;
}



.random-color-1 {
    color: #2f8b36;
}

.random-color-2 {
    color: #9c0000;
}

.dbg {
    min-height: 50px;
    background-color: orange;
}
