@import "../bower_components/bourbon/dist/bourbon";

.pt-page {
    p {
        margin-bottom: 40px;
    }



    .page-overlay {
        position: absolute;
        bottom: 0;
        height: 50%;
        background-color: #808080;
        border: 1px solid #000;



        &.scrollable {
            display: block;
            visibility: visible;
            overflow: auto;
            overflow-y: auto;
            overflow-x: hidden;

            border: 2px solid pink;
            //-webkit-overflow-scrolling: ;
        }
    }
    button.fixed {
        position: fixed;
        bottom:50%;
        //bottom: 0;
    }



}

.pt-page-0 {
    overflow: auto;
}

.pt-page-1 { // fullscreen modal - not scrollable
    background-color: #eef;
}
.pt-page-2 { // overlay not scrollable with interactive BG

    background-color: transparent;
    height: 500px;
    bottom:0;
    top:auto;
    overflow: auto;
    .page-overlay {
        overflow: hidden;
    }
}
.pt-page-3 { // modal with not with no bg interaction
    background-color: transparent;

    .page-overlay {
        background-color: rgba(255,0,0,.5);
    }
}

.pt-page-4 {
    background-color: pink;
}
.pt-page-5 {
    background-color: darkseagreen;
}
.pt-page-6 {
    background-color: palevioletred;
}
.pt-page-7 {
    background-color: coral;
}

